@use '../variables' as variables;

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: variables.$background-1;
	color: variables.$pure-white;
	padding: 6em;

	&-text {
		text-align: center;
		padding: 1em;

		&__title {
			font-size: 3rem;
		}

		&__info {
			color: variables.$text-muted;
			margin-top: 0.3em;
		}

		&__icon {
			width: 10rem;
			margin-bottom: 1em;
		}
	}

	&-btns {
		display: flex;
		justify-content: center;
		margin-top: 0.5em;
	}

	.header-btn {
		margin: 0 1em;
		border: none;
	}
}

@media (min-width: 768px) {
	.header-text__title {
		font-size: 3.5rem;
	}

	.header-text__icon {
		width: 15rem;
	}
}

@media (min-width: 992px) {
	.header {
		padding: 8em;
	}

	.header-text__title {
		font-size: 4rem;
	}

	.header-text__info {
		font-size: 2rem;
	}

	.header-text__icon {
		width: 18rem;
	}
}
