.counter {
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10em;
  background-color: #ddd;
}

.btn_style {
  padding: 0.5em 1em;
  margin: 0.5em;
  color: #fff;
  background: none;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}

.count_info {
  font-size: 2rem;
  margin-bottom: 1em;
  font-weight: 700;
}

.increment_btn {
  background-color: rgb(5, 202, 2);
}

.decrement_btn {
  background-color: red;
=======
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 10em;
	background-color: #000000;
	color: #fff;
}

.btn_style {
	padding: 0.5em 1em;
	font-size: 2rem;
	font-weight: 600;
	margin: 0.5em;
	color: #fff;
	background: none;
	border-radius: 10px;
	border: 1px solid #fff;
	cursor: pointer;
	transition: background-color .3s;

	&:hover,
	&:focus {
		outline: none;
		background-color: rgba(255, 255, 255, .1);
	}
}

.counter_title {
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 1em;
>>>>>>> 6c89489585e5d6fd79788272bb703a5aa3c49c88
}
