// Basic
$pure-white: #fff;
$pure-black: #000;
$text-muted: #888888;

// Buttons
$primary-color: #00d8ff;
$primary-hover: #009cb7;
$secondary-color: #ddd;
$secondary-hover: #9e9e9e;

// Background
$background-1: rgb(18, 27, 39);
$background-2: rgb(26, 36, 47);
